<div class="card-two">
  <div class="corner top"><span class="number">2</span><span class="symbol"></span></div><span class="suit top_center symbol"></span><span class="suit bottom_center symbol"></span>
  <div class="corner bottom"><span class="number">2</span><span class="symbol"></span></div>
</div>
