<div class="card-six">
  <div class="corner top"><span class="number">6</span><span class="symbol"></span></div><span class="suit top_left symbol"></span><span class="suit top_right symbol"></span><span class="suit middle_left symbol"></span><span class="suit middle_right symbol"></span><span class="suit bottom_left symbol"></span><span class="suit bottom_right symbol"></span>
  <div class="corner bottom"><span class="number">6</span><span class="symbol"></span></div>
</div>
