<div class="card-ace">
  <div class="corner top"><span class="number">A</span><span class="symbol"></span></div><span class="suit middle_center symbol"></span>
  <div class="corner bottom"><span class="number">A</span><span class="symbol"></span></div>
</div>
