<div class="card-king">
  <div class="corner top"><span class="number">K</span><span class="symbol"></span></div><span class="face middle_center"></span>
  <div class="corner bottom"><span class="number">K</span><span class="symbol"></span></div>
</div>
