<div class="card-queen">
  <div class="corner top"><span class="number">Q</span><span class="symbol"></span></div><span class="face middle_center"></span>
  <div class="corner bottom"><span class="number">Q</span><span class="symbol"></span></div>
</div>
